CYPRESS_BASE_URL=http://localhost:3000
CYPRESS_ADMIN_EMAIL=admin@biblioteca.com
CYPRESS_ADMIN_PASSWORD=admin123
CYPRESS_USER_EMAIL=usuario@teste.com
CYPRESS_USER_PASSWORD=user123
TEST_ENVIRONMENT=local
TEST_RUN_NAME=hub-leitura-local
